@import url("normalize.css");

 :root {
     --primary-color: #B6BA50;
     --secondary-color: #A2DAAF;
     --accent-color: #7ACBB0;
     --error-color: #B93532;
     --bg-color: #F9FAF2;
     --text-color: #070703;
 }
 
 /* body element */
 body {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--bg-color);
 }
 
 /* heading element */
 h1, h2 {
    
     font-family: inherit;
     font-weight: 700;
     line-height: 1.15;
     letter-spacing: -0.022em;
     margin-bottom: 20px;
 }
 
 h1 {
    margin-bottom: 20px;
 }
 h2 {
    margin-bottom: 15px;
 }
 /* Add styles for h3, h4, h5, h6 as necessary */
 
 /** Paragraphs and text elements */
 p {
     font-size: 1rem;
     margin-bottom: 15px;
 }
 small {
    font-size: 0.75rem;
 }
 ul,
 ol {
     margin-bottom: 15px;
 }
 
 /* Add styles for other text elements like anchors, spans, etc. */
 
 /** Links */
 a {
     color: var(--text-color);
     text-decoration: none;
 }
 
 a:hover {
     text-decoration: underline;
 }
 
 /** Form */
 input,
 textarea {
     padding: 10px;
     border: 1px solid #ced4da;
     border-radius: 3px;
 }
 
 button, .button {
     padding: 10px 20px;
     border: none;
     max-width: 160px;
     border-radius: 5px;
     background-color: var(--primary-color);
     color: var(--bg-color);
     font-weight: 600;
     text-decoration: none;
 }
 
 .small-button {
     font-size: 14px!important;
     padding: 8px 16px!important;
 }
 
 .primary-button {
     background-color: var(--primary-color);
     color: var(--bg-color);
 }
 
 .secondary-button {
     background-color: var(--secondary-color);
     color: var(--bg-color);
 }
 
 .success-button {
     background-color: #28a745;
     color: #fff;
 }
 
 .danger-button {
     background-color: #dc3545;
     color: #fff;
 }
 
 .warning-button {
     background-color: #ffc107;
     color: #212529;
 }
 
 .info-button {
     background-color: #17a2b8;
     color: #fff;
 }
 
 .light-button {
     background-color: #f8f9fa;
     color: #212529;
 }
 
 .dark-button {
     background-color: #343a40;
     color: #fff;
 }
 
 
 .task-form, .upload-task-form {
     width: 600px;
     margin: 30px auto;
 }
 
 /** Form **/
 .form-row {
     margin-bottom: 20px;
     display: flex;
     flex-direction: column;
     align-items: stretch;
 }
 
 /*** Header ***/
 #primary-header {
     display: flex;
     background-color: var(--bg-color);
     border-bottom: 1px solid var(--text-color);
     flex-wrap: nowrap;
     justify-content: space-evenly;
 }
 
 #primary-header nav {
     margin: auto 0;
 }
 
 #primary-header>nav>a {
     margin: 0 20px;
     color : var(--text-color)
 }
 
 #primary-header h1 {
     margin: 10px 20px;
     color: var(--text-color);
 }
 
 /*** Wrapper **/
 #wrapper {
     min-height: 80vh;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     /* justify-content: center; */
     /* align-items: stretch; */
 }
 
 .eighty-width {
     width: 100vh;
 }
 
 
 /*** Footer ***/
 footer {
     padding: 10px 20px;
     background-color: var(--bg-color);
     color: var(--text-color);
     display: flex;
     border-top: 1px solid var(--text-color);
     flex-direction: row;
     justify-content: center;
 }
 
 .profile-box {
     display: flex;
 }
 
 .profile-box div {
     padding: 20px;
 }
 
 .profile-box div img {
     border-radius: 50%;
     border: 6px solid var(--bg-color);
 }
 
 /****Utility class**/
 .secondary-text {
     color: var(--secondary-color);
 }
 
/*** Priority ***/
.priority-very-low {
    background-color: #d4edda; /* Light green */
    color: #155724; /* Dark green */
    padding: 5px 10px;
}

.priority-low {
    background-color: #fff3cd; /* Light yellow */
    color: #664d03; /* Dark yellow */
    padding: 5px 10px;
}

.priority-medium {
    background-color: #cce5ff; /* Light blue */
    color: #004085; /* Dark blue */
    padding: 5px 10px;
}

.priority-high {
    background-color: #f8d7da; /* Light red */
    color: #721c24; /* Dark red */
    padding: 5px 10px;
}

.priority-very-high {
    background-color: #f2f2f2; /* Light grey */
    color: #000; /* Black */
    padding: 5px 10px;
}

 
 /*** Status ***/
 
 .status-not-started {
     color: #dc3545;
     /* Red color */
 }
 
 .status-in-progress {
     color: #ffc107;
     /* Yellow color */
 }
 
 .status-stopped {
     color: #6c757d;
     /* Grey color */
 }
 
 .status-completed {
     color: #28a745;
     /* Green color */
 }
 
 /*** Edit icon ***/
 .image-container {
     position: relative;
     display: inline-block;
 }
 
 .edit-icon {
     position: absolute;
     top: 50%;
     /* Position the icon vertically at 50% from the top */
     left: 50%;
     /* Position the icon horizontally at 50% from the left */
     transform: translate(-50%, -50%);
     /* Center the icon both vertically and horizontally */
     visibility: hidden;
     opacity: 0;
     transition: opacity 0.3s ease-in-out;
 }
 
 .edit-head-icon {
     visibility: hidden;
     opacity: 0;
     transition: opacity 0.3s ease-in-out;
 }
 
 .image-container:hover .edit-icon,
 #aboutHeading:hover .edit-head-icon {
     visibility: visible;
     opacity: 1;
 }
 
 .edit-icon i {
     font-size: 24px;
     color: #fff;
     /* Adjust the color of the edit icon */
     background-color: rgba(0, 0, 0, 0.5);
     /* Semi-transparent background */
     padding: 5px;
     border-radius: 50%;
 }
 
 #myModal {
     display: none;
 }
 
 
 /* Modal styles */
 .modal {
     display: none;
     /* Hidden by default */
     position: fixed;
     /* Stay in place */
     z-index: 1000;
     /* Sit on top */
     left: 0;
     top: 0;
     width: 100%;
     /* Full width */
     height: 100%;
     /* Full height */
     overflow: auto;
     /* Enable scroll if needed */
     background-color: rgba(0, 0, 0, 0.5);
     /* Black background with transparency */
 }
 
 /* Modal content */
 .modal-content {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: #fff;
     padding: 20px;
     border-radius: 5px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
     /* Add shadow */
 }
 
 /* Close button */
 .close {
     position: absolute;
     top: 10px;
     right: 10px;
     cursor: pointer;
     font-size: 20px;
     color: #aaa;
 }
 
 .close:hover,
 .close:focus {
     color: #000;
 }
 
 #cropperContainer {
     margin: 10px auto;
     background-image: url('picture.png');
     /* Set the background image */
     background-position: center;
     /* Center the background image */
     background-clip: padding-box;
     /* Clip the background image within the padding box */
     background-size: cover;
     /* Cover the container with the background image */
     width: 320px;
     /* Set the width of the container */
     height: 320px;
     /* Set the height of the container */
     border: 2px dashed #ccc;
     /* Add a dashed border for visual indication */
     position: relative;
     /* Position the container relative for absolute positioning of cropper */
 }
 
 #cropperContainer img {
     display: block;
     /* Ensure the image is displayed as a block element */
     max-width: 100%;
     /* Set maximum width to 100% to fit the container */
     max-height: 100%;
     /* Set maximum height to 100% to fit the container */
     margin: 0 auto;
     /* Center the image horizontally */
     position: absolute;
     /* Position the image absolutely for easy cropping */
     top: 0;
     /* Align the image to the top of the container */
     left: 0;
     /* Align the image to the left of the container */
     right: 0;
     /* Align the image to the right of the container */
     bottom: 0;
     /* Align the image to the bottom of the container */
 }
 
 
 #modalFormFlex {
     display: flex;
 }
 
 .rightSideModal {
     display: flex;
     padding: 20px;
     flex-direction: column;
     justify-content: space-evenly;
 }
 
 a,
 button, input[type=button] {
     cursor: pointer;
 }

 /** Flex Utilities **/
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-baseline {
    align-items: baseline;
}

.align-items-stretch {
    align-items: stretch;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

.align-self-baseline {
    align-self: baseline;
}

.align-self-stretch {
    align-self: stretch;
}

.order-first {
    order: -1;
}

.order-last {
    order: 9999;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

.flex-basis-auto {
    flex-basis: auto;
}

.flex-basis-0 {
    flex-basis: 0;
}

.flex-basis-25 {
    flex-basis: 25%;
}

.flex-basis-50 {
    flex-basis: 50%;
}

.flex-basis-75 {
    flex-basis: 75%;
}

.flex-basis-100 {
    flex-basis: 100%;
}

.flex-grow-auto {
    flex-grow: auto;
}

.flex-grow-25 {
    flex-grow: 0.25;
}

.flex-grow-50 {
    flex-grow: 0.5;
}

.flex-grow-75 {
    flex-grow: 0.75;
}

.flex-grow-100 {
    flex-grow: 1;
}

.flex-shrink-auto {
    flex-shrink: auto;
}

.flex-shrink-25 {
    flex-shrink: 0.25;
}

.flex-shrink-50 {
    flex-shrink: 0.5;
}

.flex-shrink-75 {
    flex-shrink: 0.75;
}

.flex-shrink-100 {
    flex-shrink: 1;
}

/*** Margin & Padding**/

.mb-10 {
    margin-bottom: 10px;
}
.p-10 {
    padding: 10px;
}

.kanban-box {
    min-width: 20%; 
    margin: 10px;
    padding: 10px;
    border-left: 4px dashed var(--accent-color);
}


.progress-bar {
    width: 100%;
    background-color: #f0f0f0;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .progress {
    width: 0%;
    height: 100%;
    background-color: #007bff;
    border-radius: 10px;
    transition: width 1s ease-in-out;
  }
  
  .countdown-timer {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.center-50 {
    width: 50%;
    margin: 0 auto; /* This centers the div horizontally */
}

.success-alert {
    color: var(--accent-color);
    padding: 10px;
    width: 320px;
    margin: 10px auto;
    border-radius: 10px;
    text-align: center;
}

.error-alert {
    color: var(--error-color);
    padding: 10px;
    width: 320px;
    margin: 10px auto;
    border-radius: 10px;
    text-align: center;
}

div.center-50 img {
    max-width: 100%; /* Ensure images don't exceed the width of their container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure images don't overlap */
}
.parent_comment_box {
    padding: 10px;
/*    border: 1px solid var(--secondary-color);*/
    margin-bottom: 10px;
}
.child_comment_box {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
/*    border: 1px solid var(--secondary-color);*/
    margin-left: 20px; /* Adjust the margin-left as needed */
}

select {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
  }
  
  /* Add custom styles only for modern browsers that support appearance */
  @supports (appearance: none) or (-moz-appearance: none) {
    select {
      appearance: none; /* Remove default arrow */
      -webkit-appearance: none; /* Remove default arrow on WebKit browsers */
      -moz-appearance: none; /* Remove default arrow on Mozilla Firefox */
    }
  }
  
  /* Add custom arrow icon for select elements */
  select {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><path fill="%23333" d="M9.3 4.3L6 7.6 2.7 4.3C2.3 3.9 1.7 3.9 1.3 4.3s-.4 1-.1 1.4l4 4c.2.2.4.3.7.3s.5-.1.7-.3l4-4c.3-.4.3-1.1-.1-1.4z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 12px;
    padding-right: 24px; /* Adjust padding to accommodate the icon */
  }
  
  /* Hide arrow icon in IE */
  select::-ms-expand {
    display: none;
  }
  
  .error {
    color: var(--error-color);
  }